<h1>
    <%= author %>'s Own Render Service
</h1>

<p class="counter">
    <span>Hits:</span>
    <%= hits %>
</p>

<h2>Environment variables</h2>

<dl>

    <dt>RENDER_EXTERNAL_HOSTNAME</dt>
    <dd>
        <%= RENDER_EXTERNAL_HOSTNAME %>
    </dd>
    <dd class="info">The URL for this service</dd>


    <dt>RENDER_GIT_COMMIT</dt>
    <dd>
        <%= RENDER_GIT_COMMIT %>
    </dd>
    <dd class="info">The version of code currently deployed</dd>


    <dt>REDIS_URL</dt>
    <dd>
        <%= REDIS_URL %>
    </dd>
    <dd class="info">How this service should connect to the Redis datastore</dd>


    <dt>RENDER_SERVICE_NAME</dt>
    <dd>
        <%= RENDER_SERVICE_NAME %>
    </dd>
    <dd class="info">The name of this Service in Render's UI</dd>

</dl>

<footer>
    Made with ❤️, all around the world.
</footer>

<style>
    body {
        max-width: 500px;
        margin: 20px auto;
        font: 16px/1.4 helvetica;
    }

    table {
        font: 13px/1.2 helvetica;
        text-align: left;
        border: none;
        padding: none;
    }

    td,
    th {
        border: none;
        border-bottom: 1px solid #999;
        padding: 4px 0;
    }

    .counter,
    footer {
        margin: 20px -20px;
        padding: 20px;
        background: #d2d2d2;
    }

    dt,
    dd {
        font-family: 'Andale Mono', 'Courier', monospace;
        font-size: 14px;
        display: block;
        background: #ddd;
        padding: 3px 10px;
        color: #222;
    }

    dt {
        margin-top: 1.5em;
    }

    dd.info {
        font-family: inherit;
        font-size: inherit;
        font-style: italic;
        color: #666;
        background: none;
    }
</style>